@import url(http://fonts.googleapis.com/css?family=Oswald:700);

html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

.label {
  color: #000000;
  background-color: white;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  white-space: nowrap;
  padding: 0px 2px;
  width: auto;
}

.logo {
  position:absolute;
  bottom: 5%;
  right: 5%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	.logo {
	  position:absolute;
	  bottom: 2%;
	  right: 2%;
	}
	.logo h1 {
	  font-family: 'Oswald', sans-serif;
	  text-size: 50%;
	}
}

.logo h1 {
  font-family: 'Oswald', sans-serif;
  line-height: 20%;
}

.logo span.pi {
	color: #FA023C;
	font-family: 'Oswald', sans-serif;
}