@import url(http://fonts.googleapis.com/css?family=Oswald:700);

html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

.logo{
  position:absolute;
  bottom: 5%;
  right: 5%;
}

.logo h1 {
  font-family: 'Oswald', sans-serif;
}

.logo span.pi {
	color: #FA023C;
	font-family: 'Oswald', sans-serif;
}

.konami{
	position:absolute;
	bottom: 50%;
	right: 50%;
	top: 50%;
	left: 50%;
	border-radius: 10px;
	background-color:lightGray;
	padding: 10px;
}

.konami img {
	width: 300px;
}